.card {
    background-color: #F2F4F4;
    margin: 10px 0;
}

.col{
    order: 1px black solid;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.nav-item:hover{
    color: #000080;
    cursor: pointer;
    font-weight: bold;
}

.btn{
    color: black;
    border: 1px black solid;
    font-size: 14px;
}

.btn:hover {
    background-color: #E0FFFF;
    border: 1px solid black;
    color: black;
    font-size: 15px;
}

.mobile-nav h3 {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .mobile-nav {
        display: inline;
    }
    
    .col {
        width: 95%;
    }
}