.card {
    background-color:lightskyblue;
    margin: 10px 0;
}

.col{
    order: 1px rgb(22, 139, 222) solid;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(42, 68, 129, 0.2), 0 6px 10px 0 rgba(41, 93, 167, 0.19);
}

.nav-item:hover{
    color: #000080;
    cursor: pointer;
    font-weight: bold;
}

.btn{
    color: midnightblue;
    border: 1px midnightblue solid;
    font-size: 14px;
}

.btn:hover {
    background-color: #4cf2f2;
    border: 1px solid rgb(76, 105, 217);
    color: rgb(59, 116, 201);
    font-size: 15px;
}

.mobile-nav h3 {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .mobile-nav {
        display: inline;
    }
    
    .col {
        width: 95%;
    }
}